<nz-modal [(nzVisible)]="isVisible" nzTitle="Upload hình ảnh" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

  <nz-card style="width:100%;">

    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
      <button nz-button><i nz-icon nzType="upload"></i><span>Chọn hình</span></button>
    </nz-upload>
    <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
      [disabled]="fileList.length == 0" style="margin-top: 16px">
      {{ uploading ? 'Đang tải' : 'Tải lên' }}
    </button>

  </nz-card>
</nz-modal>