.incomming {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #E40C2B 10%, #FACD3D 50%, #fff 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;		
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  .up{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #4ECB4A 10%, #425664 50%, #FFDDCC 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;		
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  .handup{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #C3002F 10%, #F8DD2E 50%, #C3002F 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;		
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  
  .ringing{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #FDEE30 10%, #5BB659 50%, #FDEE30 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;		
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block; 
  }
  @keyframes textclip {
      to {
          background-position: 200% center;
      }
  }
  .mg-icon{
    font-size: 16px;
    margin-top: 2px;
  }
  .mg-l-5{
    margin-left: 5px;
  }

  .mg-t-5{
    margin-top: 5px;
  }
  .mg-t-10{
    margin-top: 10px;
  }
  .table tr td{
    padding: 0.4rem !important;
  }
  .cus-btn{
    padding: 1px 5px;
    border: 1px solid transparent;
  }