<div class="login-container lightmode">
  <div class="login-box animated fadeInDown">
    <!-- <div class="login-logo"></div> -->
    <div class="login-body">
      <div class="login-title text-center"><strong style="font-weight: bold;">Đăng nhập</strong> </div>
      <form  class="form-horizontal" >
        <div class="form-group">
          <div class="col-md-12">
            <input [(ngModel)]="user.user" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Tài khoản" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Mật khẩu" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" class="form-control" [(ngModel)]="user.usershop" [ngModelOptions]="{standalone: true}" placeholder="Cửa hàng" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <button (click)="login()" type="submit"  class="btn btn-info btn-block">Log In</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>